{% include "PlanningInsta2015Bundle:Menu:guest.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="jumbotron">
	    <div id="one">
	        <h1>Planning Insta</h1>
	        <p> </p>
	        <p><a href="#" class="btn btn-success btn-large">Se connecter</a></p>
	    </div>
    </div>
</div>
{% endblock %}